<p id="notice"><%= notice %></p>


<p>
  The weather is <%= @current_weather.summary %> and <%= @current_weather.temperature %>
</p>

<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<%= link_to 'Back', forecasts_path %>
